includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 8
    paths:
        - config
        - src
        - test
        - test-resources
    ignoreErrors:
        - identifier: missingType.iterableValue
