<?php

declare(strict_types=1);

use Shlinkio\Shlink\Installer\Util\InstallationCommand;

return [

    'installer' => [
        'installation_commands' => [
            InstallationCommand::DB_CREATE_SCHEMA->value => [
                'command' => '-v', // Just print PHP version
            ],
            InstallationCommand::DB_MIGRATE->value => [
                'command' => null, // Skip
            ],
            InstallationCommand::ORM_PROXIES->value => [
                'command' => '-v', // Just print PHP version
            ],
            InstallationCommand::ORM_CLEAR_CACHE->value => [
                'command' => '-v', // Just print PHP version
            ],
            InstallationCommand::GEOLITE_DOWNLOAD_DB->value => [
                // This forces an error, but this command is allowed to fail
                'command' => '-r "throw new Exception(\'foo\')"',
                'failOnError' => false,
            ],
            InstallationCommand::ROAD_RUNNER_BINARY_DOWNLOAD->value => [
                'command' => '-v', // Just print PHP version
            ],
        ],
    ],

];
