<?php

declare(strict_types=1);

use Shlinkio\Shlink\Config\Factory\SwooleInstalledFactory;
use Shlinkio\Shlink\Installer\Util\InstallationCommand;

return [

    'installer' => [
        'installation_commands' => [
            InstallationCommand::DB_CREATE_SCHEMA => [
                'command' => '-v', // Just print PHP version
            ],
            InstallationCommand::DB_MIGRATE => [
                'command' => null, // Skip
            ],
            InstallationCommand::ORM_PROXIES => [
                'command' => '-v', // Just print PHP version
            ],
            InstallationCommand::ORM_CLEAR_CACHE => [
                'command' => '-v', // Just print PHP version
            ],
        ],
    ],

    'dependencies' => [
        'services' => [
            SwooleInstalledFactory::SWOOLE_INSTALLED => static fn () => true,
        ],
    ],

];
